<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.project.users">

	
	<select id="listAll" resultType="com.bit.project.signInOut.dto.Users" >
		select * from users
	</select> 
<!-- 
	<insert id="addUser">
		insert into users values(#{userid},#{userpw},#{comment})
	</insert>
	
	<select id="readUser" resultType="com.bit.research.vo.Users">
		select * from users where userid=#{inputId}
	</select>
	
	<select id="signInUser" resultType="com.bit.research.vo.Users">
		select * from users where userid=#{userid} and userpw=#{userpw}
	</select>
	
	
	
	<select id="test" resultType="com.bit.research.vo.Users">
		select * from users where userid=#{userid}
	</select> -->
	
	
</mapper>